<div class='container'>
  <div class='detailView row'>
    <div class='col-xs-12'>
      <h1>
        <a ng-href="{{ article.url }}" target="_blank">{{article.title}}</a>
      </h1>
      <p class='article-meta'>
        <span am-time-ago="article.date_saved"></span> - {{ article.origin.url }}
      </p>
      <div class='action-bar-container'>
        <action-bar></action-bar>
      </div>
      <hr />
      <div ng-bind-html="article.html" class='article-content' handle-highlights article="article"></div>
      <hr />
      <div class='action-bar-container'>
        <action-bar></action-bar>
      </div>
    </div>
  </div>
</div>
