<div class='container index'>
  <div class='row' ng-mouseenter="mouseEnter($index)" ng-mouseleave="mouseLeave()" ng-animate="'animate'"
       ng-repeat='article in articles track by article.id' ng-class='{"showActionBar": $index == selectedIndex}'>
    <div class='col-xs-12'>
      <div class='list-view-item'>
        <h3><a ui-sref='article({articleId: article.id})'>{{article.title}}</a></h3>
        <p ng-show='article._highlighting.html' ng-bind-html="article._highlighting.html"></p>
        <p class='article-meta'>
          <small>
            <span am-time-ago="article.date_saved"></span> - {{article.origin.url}}
          </small>
        </p>
        <p class='short-description' ng-bind='article.html | htmlToPlaintext'></p>
        <div class='action-bar-container'>
          <action-bar article="article"></action-bar>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <a ng-click="myPagingFunction()" ng-show="showLoadMoreButton" class="load-more">Load More</a>
</div>
